.userLogo {
    font-size: .5rem;
}

.avatarLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.fondo {
    background-color: #1C1427;
}
